

.projects-container {
  background-color: #0a0a0a;
  border: 2px solid #00e8ff;
  border-radius: 20px;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 25px #00e8ff88;
  
}

.projects-heading {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  color: #00e8ff;
  text-shadow: 0 0 12px #00e8ff99;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #00e8ff55;
  border-radius: 16px;
  padding: 1.5rem;
  text-decoration: none;
  color: #eaf2ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px #00e8ff22;
  backdrop-filter: blur(4px);
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 22px #06ef63cc;
  background-color: #00e8ff;
  color: #0f0c29;
}

.project-card h3 {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.project-card p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.project-card .tech {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.85;
}
.project-cards {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #00e8ff55;
  border-radius: 16px;
  padding: 1.5rem;
  text-decoration: none;
  color: #eaf2ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px #00e8ff22;
  backdrop-filter: blur(4px);
}

.project-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 0 22px #e603a2cc;
  background-color: #c53ff2;
  color: #0f0c29;
}

.project-cards h3 {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.project-cards p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.project-cards .tech {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.85;
}